


<router-outlet>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Dias</label>
              <select class="form-control" id="inputEmail4" [(ngModel)]="limit" name="limit" (change)="update()">
                  <option  value=7 >7</option>
                  <option value=15 >15</option>
                  <option value=30 >30</option>
                </select>
            </div>
            <div class="col">
            <label for="inputid">Id de la Pagina</label>
            <input type="text" class="form-control" placeholder="Facebook Id" id="inputid" [(ngModel)]="idFace" name="idFace" (change)="getData()"  >
          </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Periodo</label>
              <select class="form-control" id="inputPassword4">
              <!-- <select class="form-control" id="inputPassword4" [(ngModel)]="period" name="period" (change)="getData()"> -->
                  <option selected value="DL">Diario</option>
                  <option value="WK">Semanal</option>
                  <option value="MT">Mensual</option>
                  <option value="YR">Anual</option>
                </select>
            </div>
          </div>
      </form>
          <canvas id="myChart" width="700" height="400" ></canvas>
      
     
    <div class="withtable">
  <table class="table table-hover dropTable" *ngIf="Data" >
    <thead class="thead-dark ">
      <tr>
        <th scope="col" *ngFor="let key of days" >{{key}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of Data; let i = index">
        <td *ngFor="let key of objectKeys(e)" (click)="getChart(i)" >{{ e[key] || true }}</td>
      </tr>
    </tbody>
  </table>
</div>
</router-outlet>