<router-outlet>
  <form>

    <div class="form-row">

      <div class="col">
        <label for="inputCanal">Página</label>
        <select class="form-control" id="inputCanal" (change)="update()" [(ngModel)]="brand" name="brand">
          <option value="0">HillsPetMX</option>
          <option value="1">Teamknowlogy</option>
          <option value="2">BancoAzteca</option>
        </select>
      </div>
      <div class="col">
        <label for="inputchanel">Red</label>
        <select class="form-control" id="inputchanel" (change)="getChanel()" [(ngModel)]="chanel" name="chanel">
          <option value="F">Facebook</option>
          <option value="I">Instagram</option>
        </select>
      </div>
      <div class="col">
        <label for="inputEmail4">Dias</label>
        <select class="form-control" id="inputEmail4" [(ngModel)]="limit" name="limit" (change)="getChanel()">
          <option *ngIf="period!= 'DL'" value=2>2</option>
          <option *ngIf="period== 'MT'" value=6>6</option>
          <option *ngIf="period== 'MT'" value=12>12</option>
          <option *ngIf="period== 'DL'" value=7>7</option>
          <option *ngIf="period== 'DL'" value=15>15</option>
          <option *ngIf="period== 'DL'" value=30>30</option>
        </select>
      </div>



      <div class="col">
        <label for="inputPassword4">Periodo</label>
        <select class="form-control" id="inputPassword4" [(ngModel)]="period" name="period" (change)="getChanel(); limit= 2">
          <option selected value="DL">Diario</option>
          <option value="Wk">Semanal</option>
          <option value="MT">Mensual</option>
          <!-- <option value="QR">Trimestral</option> -->
          <option value="YR">Anual</option>
        </select>
      </div>
    </div>
  </form>
  <div class="form-row">
    <div class="col" *ngIf="general">
      <div class="card general" style="width: 10rem;">
        <img [src]="general.general.logo.value" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{general.title}}</h5>
          <p class="card-text">{{general.nick}}</p>
        </div>
      </div>

    </div>
    <div class="col">
      <canvas id="myChart" width="700" height="400"></canvas>
    </div>
    <div class="col general">
      <div class="card bench" style="width: 18rem;" *ngIf="benchData && limit==15">
        <div class="card-body">
          <h5 class="card-title">{{benchData}}% 1w vs 1w </h5>
        </div>
      </div>
      <div class="card bench" style="width: 18rem;" *ngIf="benchData && limit==15">
        <div class="card-body">
          <h5 class="card-title">{{benchDataActyaly}}% 1d vs 1d</h5>
        </div>
      </div>
      <div class="card bench" style="width: 18rem;" *ngIf="benchData && limit==15">
        <div class="card-body">
          <h5 class="card-title">{{benchDataProm}}% 1w/7 vs 1w/7</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" [ngClass]="{'active': activeButun=='general'}" (click)="trasnsfomData()">General</button>
    <button type="button" class="btn btn-secondary" (click)="getLocaton('country')" [ngClass]="{'active': activeButun=='country'}"  >Country</button>
    <button type="button" class="btn btn-secondary" (click)="getLocaton('city')" [ngClass]="{'active': activeButun=='city'}" >City</button>
    <button type="button" class="btn btn-secondary" (click)="getLocaton('gender')" [ngClass]="{'active': activeButun=='gender'}" >Gender Age</button>
      <button type="button" class="btn btn-secondary" (click)="getLocaton('sourse')" [ngClass]="{'active': activeButun=='sourse'}" *ngIf="chanel=='F'" >Sourse</button>
  </div>
    <div class="withtable bench">
      <table class="table table-hover dropTable" *ngIf="Data">
        <thead class="thead-dark ">
          <tr>
            <th scope="col" *ngFor="let key of days">{{key}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of Data; let i = index">
            <td *ngFor="let key of objectKeys(e)" (click)="getChart(i)" [ngClass]="{'red': e[key]==null }" >
               {{ e[key] != null ? e[key]  : 'Null' }} 
            </td>  
          </tr>
          <tr *ngIf="isCommon">
            <td *ngFor="let e of post">
                <div class="card" style="width: 18rem;" *ngIf="isPost(e)">
                    <img [src]="e.media.value" class="card-img-top" alt="Sin imagen para mostrar">
                    <div class="card-body">
                      <p class="card-text">{{e.text}}</p>
                    </div>
                  </div>
                  <p *ngIf="!isPost(e)" >{{ e }}</p>
                  <img *ngIf="!e" src="../assets/SinNombre.png" alt="" style="width: 18rem;" >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</router-outlet>
